extends adminlayout

block content
    .content
        .container-fluid
            .row
                .col-md-12
                    .card
                        .card-header(data-background-color='purple')
                            .row
                                .col-md-6.text-left
                                    h3.title Categories
                                .col-md-6.text-right
                                    a(href='#', data-toggle='modal', data-target='#createCategoryModal')
                                        i.fa.fa-plus.fa-2x
                        .card-content.table-responsive
                            .row
                            if categories
                                
                                table#category-table.table
                                    thead
                                        th ID
                                        th Name
                                    tbody
                                        for category in categories 
                                            tr.clickable
                                                td #{category._id} 
                                                td #{category.name}
                            else
                                
                                .row
                                    .col-md-12.text-center
                                        h3 No Categories added yet
        // Menu Modal
        #createCategoryModal.modal.fade.modal-sm(tabindex='-1', role='dialog', aria-labelledby='createCategoryLabel', aria-hidden='true', style='margin: 0 auto;')
            .modal-dialog(role='dialog')
                .modal-content
                    .modal-header
                        h5#createCategoryLabel.modal-title New Category
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        .row
                            .col-md-12
                                form(name='create_category', action='/admin/categories/new')
                                    .form-group.text-center
                                        label 
                                            h4.roku-font Name 
                                        input.form-control(type='text', placeholder='Name', required='true', name='name')
                                    .form-group.text-center
                                        button.btn.btn-success.btn-lg.btn-block(type='submit') Save
