extends adminlayout

block content
    .content
        .container-fluid
            .row
                .col-md-12
                    h1.text-center.roku-font #{tutorial.cover_title}
                .col-md-12
                    h3.text-muted.text-center.roku-font ID: #{tutorial._id}
            .row
                .col-md-12
                    h1.text-center.roku-font Steps
                for step in tutorial.steps
                    .col-md-3
                        h3.text-center.clickable #{step.title}
            
