extends layout

block content
    .container
        .row
            ul
                for reference in references
                    li
                        a(href=reference.url) #{reference.name}
